body {
  margin: 0;
  padding: 10px;
  background-color: #222;
  color: #00e800;
  background: linear-gradient(to bottom, #010 0%, #121 100%);
}

#terminal > p {
  margin: 0;
  padding: 0;
  height: 16px;

  font-family: Menlo, Monaco, monospace;
  font-size: 16px;
  white-space: pre;
}

iframe {
  display: none;
}
