body {
  margin: 0;
  padding: 10px;
  background-color: #222;
  color: goldenrod;
}

#terminal > p {
  margin: 0;
  padding: 0;
  height: 16px;

  font-family: Menlo, Monaco, monospace;
  font-size: 16px;
  white-space: pre;
}

iframe {
  display: none;
}
